@media screen and (min-width:768px){

#menu{
    display: none;
}

nav.navigation{
    flex-direction: row;
    justify-content: center;
}

.navigation a{
    display: block;
}

main{
    max-width: 1200px;
}

/* Temple cards layout */
#templeCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

}