@media (min-width: 800px) {

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 2rem auto;
    }

    .weather-title::after {
        
        font-size: 1.4rem;
    }

    .mobile-weather {
        display: none;
    }

}