@media screen and (mid-width: 768px){

#menu{

    display: none;
}

.navigation{
    flex-direction: row;
    justify-content: center;
}

.navigation a{
    display: block;
}

main{
    grid-template-columns: repeat(3,1fr);
}
}